.block {
	background: #444;
	border: 3px solid #444;
	height: 250px;
	width: 250px;
	transition-property: border;
	transition-duration: 1.5s;
}

.block:hover {
	border: 3px solid #c44;
}

img {
	margin-top: 100px;
	margin-right: 100%;
}

div.imgs img:nth-child(1) {
	transform: rotate(45deg);
	margin-left: 100px;
}

div.imgs img:nth-child(2) {
	transform: scaleX(1.75);
	transform-origin: top left;
}

div.imgs img:nth-child(3) {
	transform: scaleY(2.12);
	transform-origin: top left;
	margin-top: 60px;
}

div.imgs img:nth-child(4) {
	transform: skew(-33deg);
	transform-origin: bottom right;
	margin-top: 350px;
}

div.smile {
	background: url("../../images/css_sprites.png");
	display: inline-block;
	height: 136px;
	width: 136px;
}

.smile:nth-child(1) {
	background-position: -16px -16px;
}

.smile:nth-child(2) {
	background-position: -16px -186px;
}

.smile:nth-child(3) {
	background-position: -186px -16px;
}

.smile:nth-child(4) {
	background-position: -186px -186px;
}

.smile:nth-child(5) {
	background-position: -356px -16px;
}